@model IEnumerable<DataLayer.signup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.member.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessioncal.sessioncalid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pointearn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isshow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.member.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sessioncal.sessioncalid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pointearn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isshow)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.signupid }) |
            @Html.ActionLink("Details", "Details", new { id=item.signupid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.signupid })
        </td>
    </tr>
}

</table>
