@model DataLayer.student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>student</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.middlename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.middlename)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.grade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.grade)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.active)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.active)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.studentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
