@model DataLayer.member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SuggessPage.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>member</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.username)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userpass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userpass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.passphrase)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.passphrase)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.memberstatus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.memberstatus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.approle.rolename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.approle.rolename)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.student.firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.student.firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.contact.firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.contact.firstname)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.memberid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
