@model DataLayer.approle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SuggessPage.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>approle</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.rolename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rolename)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.note)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.note)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.approleid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
