@model DataLayer.sessioncal

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_SuggessPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>sessioncal</legend>

        @Html.HiddenFor(model => model.sessioncalid)

        <div class="editor-label">
            @Html.LabelFor(model => model.sessiondate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sessiondate)
            @Html.ValidationMessageFor(model => model.sessiondate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sessiontypeid, "sessiontype")
        </div>
        <div class="editor-field">
            @Html.DropDownList("sessiontypeid", String.Empty)
            @Html.ValidationMessageFor(model => model.sessiontypeid)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sessionnum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sessionnum)
            @Html.ValidationMessageFor(model => model.sessionnum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sessionamt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sessionamt)
            @Html.ValidationMessageFor(model => model.sessionamt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.sessionpoint)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.sessionpoint)
            @Html.ValidationMessageFor(model => model.sessionpoint)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
