@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<h3>Page List</h3>

@Html.ActionLink("Activity", "Index", "Activity")
<br />
@Html.ActionLink("App Role", "Index", "Approle")
<br />
@Html.ActionLink("Session Type", "Index", "SessionType")
