@model DataLayer.contact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_SuggessPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>contact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.firstname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lastname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.middlename)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.middlename)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.altaddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.altaddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.state)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.state)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.homephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.homephone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.workphone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.workphone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mobilephone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mobilephone)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
