@{
    ViewBag.Title = "About Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The Lakewood High School Band & Orchestra is a small group of parents and high school students who involve participating in the instrumental program.  
        The nature of the group is to raise money to help cover some of the costs in the instrumental music program, including travel, competition fees, clinicians, etc.  
        Our program have many volunteer opportunities including pizza kit sales, Empty Bowl concert, etc.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>